body{             /** margem está definida no corpo do navegador **/
    margin: 0;    /** tirar margem padrão do navegador  **/
}
img{
     max-width: 100%;    /* o filho (imagem) não ser maior que o pai(main) */
}

header{                           /** o header é irmão do main**/ 
    background-color:rgba(255, 255, 97, 0.58);   /** cor do cabeçalho**/
}

header h1{                         /** especificação interna para o h1**/
    margin:0;                      /** margem do texto **/
    color:black;                 /** cor da fonte **/
    padding: 16px;                 /** tamanho da margem interna - distância entre a margem e o conteúdo **/
    font-style: italic;
}
main {                               /** parte entre cabeçalho e rodapé**/
    width: 600px;                   /** define a largura **/
    border: 1px solid #fff;       /**define a borda sólida para todos os lados/linha que envolve todo o elemento**/
    margin: 100px auto;                 /** define a margem externa entre as bordas do elemento e demais fatores**/
    display: flex;                  /**  display= define como o elemento deve ser exibido/ display: flex = define o                                    elemento  como flex**/
    flex-direction: column;           /** só funciona se tiver o display:flex , direção do comando flex**/
    align-items: center;            /** centraliza verticalmente**/
    /**font-size: 16px;                tamanho da fonte**/
    border-top: 200px;            /** borda do header**/
    /**margin-top: 16px;             - margem para afastar de cima**/
}
.img-animais{                           /** especificação para a class "img-animais"**/
    border-radius: 50%;                 /** torna a imagem totalmente redonda**/
    background-color: #f4dfd4;    /** cor de fundo do elemento, o fundo não faz parte da margem**/
    width: 250px;
    border: 10px solid rgb(255, 245, 156);  /** borda da imagem**/
}            
#linha{           /** linha embaixo da imagem**/
    width: 100%;    
    border-bottom: 1px solid peachpuff;
}
.titulo{
    width: 100%;
    font-size: 50%; 
}
.subtitulo{
    display: flex
}
div h2{ 
    font-size: 125%;
}
.uptext{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:1rem;     /** gap: tamanho do espaço entre as palavras**/
}
.texto{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

}

footer{                            /** rodapé**/
    display: flex;
    flex-direction: row;
    justify-content: center;      /** usado quando o flex-direction:row**/
    gap: 1rem;                    /** espaçamento entre as palavras**/
    align-items: center;       
    height: 30px;                 /** altura do footer**/
}